body {
    font-family: 'Slabo 27px', serif;
    color: #ecf0f1;
    background-color: #34495e;
}

h2 {
    margin: 12px 10px;
}

.container {
    max-width: 960px;
}

.row {
    margin-bottom: 8px;
}

.game {
    display: block;
    margin: 0 auto;
    max-width: 960px;
}

.header {
    width: 480px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.titleM {
    text-align: center;
}

.time {
    width: 100%;
    height: 30px;
    background-color: #ecf0f1;
    border-radius: 2px;
}

.buttonsB {
    font-size: 0;
}

.buttons {
    color: #2c3e50;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width: 32%;
    height: 30px;
    background-color: #ecf0f1;
    border-radius: 2px;
}

.buttons:hover {
    background-color: #95a5a6;
    cursor: pointer;
    color: white;
}

.buttons:first-child {
    margin-right: 2%;
}

.buttons:last-child {
    margin-left: 2%;
}

.gameContainer {
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.square {
    border-radius: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    display: inline-block;
    font-size: 26px;
    background-color: #3498db;
    width: 40px;
    height: 40px;
    color: #34495e;
    position: relative;
}

.square:hover {
    background-color: #2980b9;
}

.contentB {
    visibility: hidden;
}

.bomb {
    width: 27px;
    height: 27px;
    margin: 0;
    padding-top: 6px;
}

img {
    display: inline-block;
    margin: 0;
    top: 8px;
}

.modal {
    width: 30%;
}

.modal-content {
    font-family: 'Slabo 27px', serif;
    color: #34495e;
}

.btn {
    display: inline-block;
    background-color: #888;
    width: 48%;
}

.modal-footer > .btn {
    margin: 10px !important;
}

.time {
    color: #34495e;
}

.time p {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 20px;
}

#counter {
    float: right;
    color: rgb(192, 57, 43);
}
